/*The commented out block below is used for detbugging the layout's margin and padding*/
/** {
	border-width: 2px;
	border-style: solid;
	border-color: red;
}*/

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	background: #777;
	width: 960px;
	font-size: 18px;
	text-align: center;
	margin:0 auto;
	height: 560px; 	
}

div {
	height: 55%;
	margin-top: 2%;
	margin-bottom: 2%;
}

section {
	float: left;
	height: 100%;
	width: 60%;
}

article {
	height: 55%;
	padding-bottom: 5%;
	color: #ebebeb;
	background: #777;
	margin-left: 3%;
	margin-right: 3%;
}

aside {
	float: right;
	height: 100%;
	width: 35%;
}

header, nav, footer {
	height: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
}

header, nav, section, aside, footer{
	background: #ebebeb;
}

#section {
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 5%;
}

#article {
	padding-top: 3%;
}

#header, #paragraph {
	color: #777;
	background: #ebebeb;
	margin-left: 3%;
	margin-right: 3%;
	padding: 3%;
}

#header {
	margin-bottom: 1%;
	font-weight: bold;
}

#paragraph {
	margin-top: 1%;
}

#aside {
	margin-top: 5%;
}